@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
.content{
  position: absolute;
  top: 20%;
  left: 8%;
  width: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
.title{
  font-family: "Open Sans", sans-serif;
  font-size: 4.5em;
  margin-top: 60px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.01),
               2px 2px 0 rgba(0,0,0,0.01),
               3px 3px 0 rgba(0,0,0,0.01),
               4px 4px 0 rgba(0,0,0,0.01),
               5px 5px 0 rgba(0,0,0,0.01),
               6px 6px 0 rgba(0,0,0,0.01),
               7px 7px 0 rgba(0,0,0,0.01),
               8px 8px 0 rgba(0,0,0,0.01),
               9px 9px 0 rgba(0,0,0,0.01),
               10px 10px 0 rgba(0,0,0,0.01),
               11px 11px 0 rgba(0,0,0,0.01),
               12px 12px 0 rgba(0,0,0,0.01),
               13px 13px 0 rgba(0,0,0,0.01),
               14px 14px 0 rgba(0,0,0,0.01),
               15px 15px 0 rgba(0,0,0,0.01),
               16px 16px 0 rgba(0,0,0,0.01),
               17px 17px 0 rgba(0,0,0,0.01),
               18px 18px 0 rgba(0,0,0,0.01),
               19px 19px 0 rgba(0,0,0,0.01),
               20px 20px 0 rgba(0,0,0,0.01);
}
.date{
  font-size: 2em;
  margin-bottom: 20px;
}
.year{
  color: #ED553B;
}
.snowman{
  height: 55vh;
  position: absolute;
  right: 8%;
  bottom: 5%;
}
.btn{
  width: 20vw;
  font-size: 1.5em;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #E5E5EE;
  color: #184a6b;
  border-radius: 30px;
}
.btn:hover{
  
}
.btn:active, .btn:focus{
  border: none;
  outline: none;
}
.btn:active{
  background-color: #c0c0c7;
}