.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
.section{
  color: #E5E5E5;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.content{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60vw;
}
.title{
  font-size: 56px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  text-shadow:
    -1px 1px rgba(0,0,0,0.01),
    -2px 2px rgba(0,0,0,0.03),
    -3px 3px rgba(0,0,0,0.025),
    -4px 4px rgba(0,0,0,0.02),
    -5px 5px rgba(0,0,0,0.015),
    -6px 6px rgba(0,0,0,0.01),
    -7px 7px rgba(0,0,0,0.01),
    -8px 8px rgba(0,0,0,0.01),
    -9px 9px rgba(0,0,0,0.01),
    -10px 10px rgba(0,0,0,0.01),
    -11px 11px rgba(0,0,0,0.01),
    -12px 12px rgba(0,0,0,0.01),
    -13px 13px rgba(0,0,0,0.01),
    -14px 14px rgba(0,0,0,0.01),
    -15px 15px rgba(0,0,0,0.01),
    -16px 16px rgba(0,0,0,0.01),
    -17px 17px rgba(0,0,0,0.01),
    -18px 18px rgba(0,0,0,0.01),
    -19px 19px rgba(0,0,0,0.01),
    -20px 20px rgba(0,0,0,0.01),
    -21px 21px rgba(0,0,0,0.01),
    -22px 22px rgba(0,0,0,0.01),
    -23px 23px rgba(0,0,0,0.01),
    -24px 24px rgba(0,0,0,0.01),
    -25px 25px rgba(0,0,0,0.01);
}
.snowman{
  height: 50vh;
  width: auto;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.btncontainer{
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#btn{
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 15px;
  font-weight: 600;
}
.skewed{
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100vw;
  background: #FFFFFF;
  transform: skewY(8deg);
  transform-origin: top right;
}
.fuck{
  transform: skewY(0deg);
}