.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background: #206391;
  color: #E5E5E5;
  font-family: 'Quicksand', sans-serif;
}
.content{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60vw;
}
.title{
  font-size: 56px;
}
.snowman{
  height: 50vh;
  width: auto;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.btncontainer{
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#btn{
  padding: 10px 20px;
  font-family: 'Quicksand', sans-serif;
  border: none;
  border-radius: 15px;
  font-weight: 600;
}